.App {
  /* text-align: center; */
  width: 100vw;
  height: 100vh;
}

.App-header {
  height: 4rem;
}

.App-logo {
  height: 2.5rem;
}

.App-container {
  height: calc(100% - 4rem);
}

.Menu-container {
  width: 75%;
}

.Cart-container {
  position: absolute;
  top: calc(4rem + 1rem);
  right: 1rem;
  width: 20%;
}
